*.aux
.bb
*.bl
*.lo
*.lo
*.nl
*.ou
*.to
*.bc
*.run.xml
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.toc
*.synctex.gz
*.acn
*.glo
*.ist
*.lof
*.lot
*.out
*.acr
*.alg
*.glg
*.gls
*.glsdefs
*.lol
*.dvi

.~lock.*
